<ons-page ng-controller="VideosController">
    <ons-toolbar id="searchToolbar" style="position: fixed;" fixed-style>
        <div class="center youtube-toolbar">Onsen UI YouTube - Search</div>
    </ons-toolbar>
    <div class="search-bar youtube-toolbar">
        <form ng-submit="search(true)">
            <input type="search" class="search-input" placeholder="Search for videos in YouTube" ng-model="query">
        </form>
    </div>
    <ons-list class="after-search-bar">
        <youtube-video ng-repeat="item in results.items track by $index" video-url="item.id.videoId"></youtube-video>
    </ons-list>
    <p class="after-list" ng-show="results.length === 0">
        <span ng-hide="loading">{{ label }}</span>
        <span ng-show="loading"><ons-icon icon="fa fa-spinner" size="22px" spin="true"></ons-icon></span>
    </p>
    <p class="after-list" ng-show="results.length > 0 && nextPageToken !== ''">
        <ons-button var="loadMoreButton" style="background-color: #e52d27" ng-click="loadMoreButton.startSpin(); loadMoreButton.setDisabled(true); search(false)">Load more videos</ons-button>
    </p>
</ons-page>